<html>
<head>
    <title>{{ page.title }}</title>
    <meta charset='UTF-8'>
    <meta content='width=device-width, initial-scale=1' name='viewport'/>

    <meta name='description' content='Caleb Leedy is a PhD candidate at Iowa State.'>
    <meta name='keywords' content='{{ page.keywords }}'>
    <meta name='author' content='Caleb Leedy'>

    <link href='/css/blog.css' rel='stylesheet'/>
    <link href='/css/trac.css' rel='stylesheet'/>
    <link href='/css/markdown.css' rel='stylesheet'/>

    {% include mathjax.html %}
</head>
<body>
<div class='content'>
    {% include nav.html %}
    <div class='wrap article'>
    <h1> {{ page.title }}</h1>
        {{ content }}
    </div>
</div>
</body>
</html>
